langchain
langchain-community
langchain-huggingface
langchain-nvidia-ai-endpoints
langchain-chroma
langgraph
langchain-classic
langchain-experimental
streamlit
chromadb
pypdf
flashrank
python-dotenv
sentence-transformers
