langchain
langchain-community
langchain-huggingface
langchain-nvidia-ai-endpoints
langchain-chroma
langgraph
langchain-experimental
streamlit
chromadb==0.4.24
pypdf
python-dotenv
sentence-transformers
rank-bm25
protobuf==4.25.3
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
numpy<2.0
